@font-face {
    font-family: 'pixel';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
  }

.collection-img
{
    width: 300px;
}
.collecction-element
{
    width: 320px;
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-top: 50px;
    transition: 1s ease;
}
.collecction-element:hover
{
   transform: translateY(-10px);
   transition: 1s ease;
}
.collection-main
{
    background-color: grey;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content:center;
    padding-bottom: 200px;
    font-family: "pixel", sans-serif;
    font-style: normal;
    font-weight: bolder;
}
.collection-card-img
{
    width: 250px;
}
.collection-card
{
    background-color: silver;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    margin-top: 50px;
}
.prod-btn
{
    width: 100px;
    height: 40px;
    margin: 20px;
    background-color: black;
    color: silver;
    font-family: "pixel", sans-serif;
    font-style: normal;
    transition: 1s ease;
    border: solid black 1px;
    border-radius: 10px;
}
.prod-btn:hover
{
    background-color: silver;
    color: black;
    border: solid black 1px;
    border-radius: 10px;
    transition: 1s ease;
}
.prod-btn:active
{
    background-color: black;
    color: silver;
    transition: 0.2s ;
}
.price
{
    margin: 0px;
}
.collection-grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 100px;
    margin: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.collection-heading
{
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-top: 0px;
    padding-top: 100px;
}
.collect
{
    background-color: grey;
    font-family: "pixel", sans-serif;
    font-style: normal;
}
.product-upper
{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 50px;
    padding-right: 0px;
    padding-top: 0px;
}
.product-upper-right
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.cost-div
{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.product-upper-right-main
{
    margin: 50px;
    width: 100%;
}
.quantity
{
    margin:50px;
    margin-top: 0px;
    background-color: silver;
    padding-left: 50px;
    padding-bottom: 25px;
    max-width: 350px;
    border-radius: 10px;
}
.prod-img
{
    width: 400px;
}
.product-image-main
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.product-main-container
{
    background-color: grey;
    font-family: "pixel", sans-serif;
    font-style: normal;
}
.image-container
{
    background-color: silver;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost-button
{
    width: 50px;
    height: 40px;
    margin-left: 10px;
}
.quant-input
{
    width: 50px;
    height: 30px;
    margin-left: 25px;
    text-align: center;
}
.quant-input:focus
{
    border: 2px solid black;
    outline: none;
    box-shadow: none;
    transition: 1s ease;
}
.quant-form
{
    display: flex;
    flex-direction: row;
}
.label-form
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pricing
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.cost-btn-div
{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cost-button
{
    background-color: black;
    color: silver;
    border-radius: 40%;
    border: 1px solid white;
    outline: 1px solid black;
}
.cost-button:hover
{
    background-color: grey;
    color: black;
    transition: 1s ease;
}
.cost-button.active
{
    background-color: silver;
    border: 1px solid black;
    border-radius: 50%;
    transition: 1s ease;
    color: black;
}
.price-heading
{
    width: 100px;
}
.discount-section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wholesale-div-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wholesale-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    width: 300px;
    background-color: silver;
    border-radius: 10px;
}
.collection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: grey;
}
.collection-upper
{
    background-image: url(../Images/home/collection-bgr.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position:center;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    background-size: cover;
    
}
.collect-heading
{
   
    animation: blurOut ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-transform:uppercase;
    font-size: xxx-large;
    font-family: "pixel", sans-serif;
    text-shadow: 1px 1px 2px silver, 0 0 1em black, 0 0 0.2em black;
}
@keyframes blurOut {
    0% {
        filter: blur(4px);
    }
    100% {
        filter: blur(0px);
     }
}

.collection-head
{
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-name
{
    max-width: 20ch;
    align-self: center;
    height: 50px;
}
.login-main
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-inner
{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border: 2px solid black;
    height: 300px;
    width: 300px;
    border-radius: 15px;
}