@font-face {
    font-family: 'pixel';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
  }
.logo{
    height: 50px;
    width: 50px;
    margin-right: 150px;
    margin-top: 20px;
}
.navbar-main
{
    background-color: black;
    color: aliceblue;
}
.nav-links
{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 50px;
}
.nav-list-item
{
    margin-left: 50px;
}
.nav-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.web-title
{
    font-weight:900;
    font-size: 75px;
    font-family: "pixel", sans-serif;
    font-style: normal;
    
}
.intro-main
{
    font-family: "pixel", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 200px;
}
.arduino-img
{
    width: 400px;
    height: 300px;
}
.left-text
{
    border: 1px solid black;
    border-spacing: 2px;
    width: 220px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

}
.intro
{
    background-color: rgb(102, 180, 177);
}
.description-main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    font-family: "pixel", sans-serif;
    font-style: normal;
}
.progress-section
{
    height: 7px;
    width: 7px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;
}
.progress-section[id="active"]
{
    background-color: azure;
    transform: scale(2);
}
.progress-bar
{
    position: absolute;
    top: 50%;
    height: 4px;
    background-color: black;
    transform: translateY(-50%);
    z-index: -1;
    transition: 2s ease;
}
.progress-container::before
{ 
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: translateY(-50%);
    z-index: -1;
}
.progress-container
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 80%;
    max-width: 100%;
    width: 800px;
    z-index: 1;
}
.progress-item
{
    animation: fadeoutlong ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeoutlong {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}
.progress-item[id = "active"]
{
    animation: fadeinlong ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeinlong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.progress-items-container
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding-top: 150px;
    width: 80%;
}
.description-img
{
    width: 200px;
    height: auto;
    transform: rotate(10deg);
}
.progress
{
    margin-top: 50px;
    margin-bottom: 100px;
}
.progress-item
{
    width: 250px;
    height: auto;
}
.desc-text
{
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-btn
{
   margin-top: 50px;
   width: auto;
   height: 40px;
   background-color: black;
   color: white;
   border: 2px solid white;
   outline: 2px solid black;
   transition: ease 1s;
   font-family: "pixel", sans-serif;
   font-style: normal;
}
.desc-btn:hover
{
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 0%;
   transition: ease 1s;
   border-radius: 50px;
}
