@font-face {
    font-family: 'pixel';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
  }
.logo{
    height: 50px;
    width: 50px;
    margin-right: 150px;
    margin-top: 20px;
}
.navbar-main
{
    background-color: black;
    color: aliceblue;
}
.nav-links
{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 50px;
}
.nav-list-item
{
    margin-left: 50px;
}
.nav-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.web-title
{
    font-weight:900;
    font-size: 75px;
    font-family: "pixel", sans-serif;
    font-style: normal;
    
}
.intro-main
{
    font-family: "pixel", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 200px;
}
.arduino-img
{
    width: 400px;
    height: 300px;
}
.left-text
{
    border: 1px solid black;
    border-spacing: 2px;
    width: 220px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

}
.intro
{
    background-color: rgb(102, 180, 177);
}
.description-main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: "pixel", sans-serif;
    font-style: normal;
    background: rgb(169, 175, 213);
    background-image: url(../Images/home/background.png);
    background-blend-mode:hue;
    background-size:contain;
}
.progress-section
{
    height: 7px;
    width: 7px;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;
}
.progress-section[id="active"]
{
    background-color: azure;
    transform: scale(2);
}
.progress-bar
{
    position: absolute;
    top: 50%;
    height: 4px;
    background-color: black;
    transform: translateY(-50%);
    z-index: -1;
    transition: 2s ease;
}
.progress-container::before
{ 
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: translateY(-50%);
    z-index: -1;
}
.progress-container
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 80%;
    max-width: 100%;
    width: 800px;
    z-index: 1;
}
.progress-item
{
    animation: fadeoutlong ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeoutlong {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}
.progress-item[id = "active"]
{
    animation: fadeinlong ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeinlong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.progress-items-container
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding-top: 150px;
    width: 80%;
}
.description-img
{
    width: 200px;
    height: auto;
    transform: rotate(10deg);
}
.progress
{
    margin-top: 50px;
    margin-bottom: 100px;
}
.progress-item
{
    width: 250px;
    height: auto;
}
.desc-text
{
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-btn
{
   margin-top: 50px;
   width: auto;
   height: 40px;
   background-color: black;
   color: white;
   border: 2px solid white;
   outline: 2px solid black;
   transition: ease 1s;
   font-family: "pixel", sans-serif;
   font-style: normal;
}
.desc-btn:hover
{
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 0%;
   transition: ease 1s;
   border-radius: 50px;
}
.desc-btn:active
{
  border: 10px solid white;
  transition: ease 1ms;
}
.video-desc-main
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: "pixel", sans-serif;
  font-style: normal;
  background-color:antiquewhite;
}
.video{
   width: 50%;
   height: auto;
}
.video-div
{
    border: 2px solid white;
    outline: 2px solid black;
}
.slider-buttons
{
   background-color: white;
   border: 1px solid black;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   margin-left: 7px;
   border: 2px solid white;
   outline: 1px solid black;
   background-color: black;
   transition: 1s ease;
}
.button-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.slider
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.slider-window
{
    width: 60%;
    overflow: hidden;
}
.slider-main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: "pixel", sans-serif;
    font-style: normal;
}
.slide
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.slider-image
{
    width: 400px;
    height: auto;
}
.slider-inner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    outline: 10px solid silver;

}
.slider-buttons-act
{
   width: 15px;
   height: 15px;
   border: 2px solid white;
   outline: 1px solid black;
   background-color: black;
   transition: 1s ease;
   margin-left: 7px;
}
.slider-inner-text
{
    background-color: silver;
    margin-top: 50px;
}
.text
{
    width: 100%;
    background-color: silver;
    text-transform:uppercase;
    font-size: x-large;
}
.feedback-brands
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.feedback-feed
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: larger;
    margin-top: 25px;
    margin-bottom: 50px;
}
.feedback-lower
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.feedback-lower
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: rgb(191, 191, 191);
    width: 100%;
}
.feedback-main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #829C9B;
    font-family: "pixel", sans-serif;
    font-style: normal;
}
.brand-element
{
    width: 20%;
    height: 100px;
    border-bottom: 2px solid black;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size:larger;
}
.brand-element:hover
{
    border-bottom: 2px solid white;
    color: silver;
    transition: 0.5s ease;
    -webkit-text-stroke: 0.5px silver;
}
.brand-element-act
{
    width: 20%;
    height: 100px;
    border-bottom: 2px solid white;
    color: silver;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size:larger;
    -webkit-text-stroke: 0.5px silver;
}
.feedback-element-hidden
{
    display: none;
}
.feedback-upper
{
    margin-top: 50px;
    -webkit-text-stroke: 0.5px black;
}
.feedback-heading
{
    display: flex;
    justify-content: center;
    color: black;
    font-size: x-large;
    text-decoration: wavy;
}
.feedback-elenent
{
    font-size: larger;
    font-weight: 10;
}
.payment-img
{
    margin-left: 50px;
    margin-top: 50px;
}
.bottom-text
{
    font-size: larger;
}
.footer-main
{
    height: 100px;
    background-color: black;
}
.user-list
{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.user-list-item
{
    margin-right: 20px;
    color: white;
}
.user-list-item:link
{
    color: white;
    text-decoration: none;
}
.user-list-item:hover
{
    color: silver;
    transition: 0.5s ease;
    text-decoration: underline silver;
}
.user-image
{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.user-nav
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-link
{
    display: flex;
    justify-content: center;
    align-items: center;
}