.fadein
{
    animation: fadein ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.rotation
{
    animation: rotation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes rotation {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 10deg;
     }
}
.fadeinlong
{
    animation: fadeinlong ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeinlong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}